<mat-card class="card">
  <img mat-card-image src="{{ picture().thumbnailLink }}" alt="{{ picture().title }}">

  <mat-card-content class="content">
    <mat-card-title class="title">{{ picture().title }}</mat-card-title>
    <p class="description">{{ picture().description }}</p>
    <p class="meta">Postée le {{ picture().createdAt | date }} par
      <a
          [routerLink]="['/picture/user', picture().author.id]"
          [queryParams]="{author: picture().author.displayName}"
          aria-label="voir l'activité de ${{ picture().author.displayName }}"
          class="author-link"
      >{{ picture().author.displayName }}</a>
    </p>
  </mat-card-content>

  <mat-card-actions class="actions">
    <!-- Replace with heart icon & fill if user has liked before + add "like" event method -->
    <button matButton>AIMER</button>
    <a matButton [routerLink]="['/picture', picture().id]">EN SAVOIR PLUS</a>
  </mat-card-actions>
</mat-card>