<mat-card [class]="layoutClass()">
  <img mat-card-image src="{{ picture().thumbnailLink }}" alt="{{ picture().title }}">

  <mat-card-content>
    <mat-card-title>{{ picture().title }}</mat-card-title>
    <p class="description">{{ picture().description }}</p>
    <p class="meta">Postée le {{ picture().createdAt | date }} par
      <a
          [routerLink]="['/user', picture().author.id, 'picture']"
          [queryParams]="{author: picture().author.displayName}"
          aria-label="voir l'activité de ${{ picture().author.displayName }}"
          class="author-link"
      >{{ picture().author.displayName }}</a>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton class="btn-like" (click)="handleLike()">
      @if (isAlreadyLiked()) {
        <mat-icon fontIcon="favorite" aria-label="ne plus aimer l'image"></mat-icon>
      } @else {
        <mat-icon fontIcon="favorite_outline" aria-label="aimer l'image"></mat-icon>
      }
      <span class="number-of-likes">({{ picture().likes.length }})</span>
    </button>
    <a matButton [routerLink]="['/picture', picture().id]">EN SAVOIR PLUS</a>
  </mat-card-actions>
</mat-card>