.card {
  mat-card-title {
    margin-top: 1rem;
  }

  .meta {
    font-size: var(--mat-sys-body-small-size);
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}