<form class="form" [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <div class="content">
    <div class="text-fields">
      <mat-form-field>
        <mat-label>Titre de l'image</mat-label>
        <input matInput formControlName="title" min="2" required>
        @if (title && title.invalid && (title.dirty || title.touched)) {
          <mat-error>Veuillez donner un titre à votre image</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Décrivez votre image en quelques mots</mat-label>
        <textarea matInput formControlName="description" required rows="5"></textarea>
        @if (description && description.invalid && (description.dirty || description.touched)) {
          <mat-error>Veuillez ajouter une description à l'image</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="picture-field">
      <div class="field">
        <button matButton="outlined" type="button">
          @if (picturePreview()) {
            <label for="picture">
              <mat-icon fontIcon="cached"></mat-icon>
              <span>Choisir une autre image</span>
            </label>
          } @else {
            <label for="picture">
              <mat-icon fontIcon="upload"></mat-icon>
              <span>Choisir une image à publier</span>
            </label>
          }
          <!-- TODO: rework all that so input fits the button -->
          <input type="file"
              id="picture"
              required
              accept="image/*"
              (change)="onPictureChange($event)"
              hidden
          >
        </button>
      </div>

      <div class="preview">
        @if (picturePreview()) {
          <img [src]="picturePreview()" alt="#" />
        } @else {
          <div class="skeleton"></div>
        }
      </div>

      <mat-error>
        @if (imageFile && imageFile.getError('missing')) {
          Veuillez sélectionner une image à publier
        }
      </mat-error>
    </div>
  </div>

  <div class="actions">
    <button matButton="filled" type="submit">{{ defaultValues() ? "Modifier l'image" : "Créer l'image" }}</button>
  </div>
</form>