<section id="title" class="page-title">
  <h1>Dernières images</h1>
</section>

<section class="pictures">
  <div class="filters">
    <mat-form-field>
      <mat-label>Rechercher une image</mat-label>
      <input type="text"
          matInput
          [value]="search() || ''"
          (input)="search.set($any($event.target).value)"
      >
    </mat-form-field>
  </div>

  @if (paginatedPictures.hasValue()) {
    @if (paginatedPictures.value().empty) {
      <p class="error">Aucune image ne correspond à la recherche.</p>
    } @else {
      <app-picture-list
          [pictureList]="paginatedPictures.value().content"
          [pagination]="paginatedPictures.value()"
          (paginationChanges)="handlePaginationEvent($event)"
          (like)="toggleLikePicture($event)"
      ></app-picture-list>
    }
  } @else if (paginatedPictures.error()) {
    <div class="error">
      <p>Impossible de récupérer les images. Veuillez recharger la page.</p>
    </div>
  } @else if (paginatedPictures.isLoading()) {
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  }
</section>