<section id="title" class="page-title">
  <h1>Dernières images</h1>
</section>

<section class="pictures">
  <div class="filters">
    <mat-form-field>
      <mat-label>Rechercher une image</mat-label>
      <input type="text"
          matInput
          [value]="search()"
          (input)="search.set($any($event.target).value)"
      >
    </mat-form-field>
  </div>

  @if (paginatedPictures.hasValue()) {
    @if (paginatedPictures.value().empty) {
      <p class="error">Aucune image ne correspond à la recherche.</p>
    } @else {
      <app-picture-list [pictureList]="paginatedPictures.value().content"></app-picture-list>
    }

    <mat-paginator
        (page)="handlePaginationEvent($event)"
        [length]="paginatedPictures.value().totalElements"
        [pageIndex]="paginatedPictures.value().pageNumber"
        [pageSize]="paginatedPictures.value().pageSize"
        [pageSizeOptions]="[5, 10, 20, 50]"
        [showFirstLastButtons]="true"
        [disabled]="paginatedPictures.value().empty"
        aria-label="Sélectionner une page"
    ></mat-paginator>
  } @else if (paginatedPictures.error()) {
    <div class="error">
      <p>Impossible de récupérer les images. Essayez à nouveau.</p>
    </div>
  } @else if (paginatedPictures.isLoading()) {
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  }
</section>