<ul class="picture-list" [class]="layoutClass()">
  @for (picture of pictureList(); track picture.id) {
    <li class="grid-item">
      <app-picture-item
          [picture]="picture"
          (like)="like.emit($event)"
          [layoutClass]="layoutClass() === 'grid' ? 'vertical' : 'horizontal'"
      ></app-picture-item>
    </li>
  }
</ul>

<mat-paginator
    (page)="handlePaginationEvent($event)"
    [length]="pagination().totalElements"
    [pageIndex]="pagination().pageNumber"
    [pageSize]="pagination().pageSize"
    [pageSizeOptions]="[5, 10, 20, 50]"
    showFirstLastButtons
    [disabled]="pagination().empty"
    aria-label="Sélectionner une page"
></mat-paginator>
