.picture-list {
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.grid {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  @media(min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(min-width: 1280px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.list {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  @media(min-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }
}