@if (pictureResponse.hasValue()) {
  @let picture = pictureResponse.value();

  <section class="content">
    <div class="image-block">
      <img ngSrc="{{ picture.imageLink }}" alt="{{ picture.title }}" fill priority />
    </div>
    <div class="details-block">
      <h1 class="title">{{ picture.title }}</h1>
      <p class="description">{{ picture.description }}</p>
      <p class="likes">
        <!-- Either switch "favorite" / "favorite_outline" or icon completely on click -->
        <mat-icon fontIcon="favorite_outlined"></mat-icon>
        @if (picture.likes > 0) {
          {{ picture.likes }} personnes aiment cette image
        } @else {
          Soyez la première personne à aimer cette image!
        }
      </p>

      <p>Postée le {{ picture.createdAt | date: 'd MMMM y à H:mm' }} par
        <span class="author-link">{{ picture.author.displayName }}</span>
      </p>

    </div>
  </section>

  <section class="comments-block">
    <h2>Commentaires ({{ commentsResponse.value()?.length || 0 }})</h2>

    @if (commentsResponse.hasValue()) {
      <div class="comments-list">
        @if (commentsResponse.value().length > 0) {
          @for (comment of commentsResponse.value(); track comment.id) {
            <mat-card appearance="outlined" class="card">
              <mat-card-header>
                <mat-card-subtitle>
                  <span class="author-link">{{ comment.author.displayName }}</span> a écrit:
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="content">"{{ comment.content }}"</mat-card-content>
              <mat-card-footer class="date">Posté le {{ comment.createdAt | date :'d MMMM y à H:mm' }}</mat-card-footer>
            </mat-card>
          }
        } @else {
          <p class="no-comments">Cette image n'a pas encore de commentaires.</p>
          <!--<p class="no-comments">Soyez la première personne à écrire un commentaire sur cette image.</p>-->
        }
      </div>
      <!--<div class="form">-->
          <!--  <h3>Écrivez votre commentaire :</h3>-->
          <!--  <p>(Bientôt disponible)</p>-->
          <!--</div>-->
    } @else if (commentsResponse.isLoading()) {
      <p>Chargement des commentaires...</p>
    } @else {
      <p>Impossible de récupérer les commentaires de cette. Veuillez recharger votre page.</p>
    }
  </section>
} @else if (pictureResponse.isLoading()) {
  <mat-spinner></mat-spinner>
} @else {
  <section class="section-error">
    <p class="error">Impossible de récupérer l'image en question. Veuillez réessayer.</p>
  </section>
}