<section id="title" class="page-title">
  @if (isCurrentUser()) {
    <h1>Mes images</h1>
    <a matFab
        [routerLink]="['/user', userId(), 'picture', 'add']"
        aria-label="publier une nouvelle image"
        title="Publier une nouvelle image"
    >
      <mat-icon>add</mat-icon>
    </a>
  } @else {
    <h1>Images publiées par <span class="author-name">{{ authorName }}</span></h1>
  }
</section>

<section class="pictures">
  @if (paginatedPictures.hasValue()) {
    @if (paginatedPictures.value().empty) {
      <p class="error">Aucune image ne correspond à la recherche.</p>
    } @else {
      <app-picture-list
          [pictureList]="paginatedPictures.value().content"
          [pagination]="paginatedPictures.value()"
          (paginationChanges)="handlePaginationEvent($event)"
          (like)="toggleLikePicture($event)"
          [layoutClass]="'list'"
      ></app-picture-list>
    }
  } @else if (paginatedPictures.error()) {
    <div class="error">
      <p>Impossible de récupérer les images. Veuillez recharger la page.</p>
    </div>
  } @else if (paginatedPictures.isLoading()) {
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  }
</section>